nav {
  z-index: 1;
  position: absolute;
}

.switcher {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.switcher button {
  margin: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  padding: 0.2em;
}
