nav {
  z-index: 1;
  position: absolute;
}

nav li {
  list-style: none;
  background-color: white;
  border: 0.1em solid black;
  border-radius: 0.2em;
  padding: 0.2em;
}

nav li img {
  height: 1em;
  margin-right: 0.2em;
}

.switcher {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.switcher button {
  margin: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.2em;
  padding: 0.2em;
}

.switcher svg {
  margin-right: 0.2em;
}

.bodytext {
  padding: 3em 1em;
}

.main {
  padding: 1em;
}

.center {
  text-align: center;
}

img.large {
  max-width: 100%;
}

.backlink::before {
  font-weight: bold;
  content: "← ";
}

mark {
  color: red;
  background-color: white;
}
