.code {
  text-align: center;
  position: relative;
}

input.code {
  font-size: 2em;
  width: 10em;
  border: 0.2em solid black;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.message {
  width: 100%;
  text-align: center;
}
