body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
}

#root {
  height: 100vh;
}
