.home {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 320px) {
  .home {
    background-image: url("background_320.png");
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .home {
    background-image: url("background_768.png");
  }
}

@media only screen and (min-width: 769px) and (max-width: 1920px) {
  .home {
    background-image: url("background_1920.png");
  }
}

@media only screen and (min-width: 1921px) {
  .home {
    background-image: url("background.png");
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.circle {
  border: 0.5em solid;
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

@media only screen and (max-width: 39em) {
  .xsmall  {
    height: 5.5em;
    width: 5.5em;
    margin: 0.5em;
  }

  .small  {
    height: 7em;
    width: 7em;
    margin: 0.5em;
  }
}

.sun {
  border-color: yellow;
  background-color: yellow;
}

.tellus {
  border-color: #0E4097;
}

.tellus img {
  width: 70%;
}

.info {
  border-color: #005E9D;
}

.info img {
  width: 80%;
}

.kindergarten {
  border-color: red;
  background-color: blanchedalmond;
}

.elementary {
  border-color: orange;
  background-color: blanchedalmond;
}

.highschool {
  border-color: purple;
  background-color: blanchedalmond;
}

.sunholder {
  position: relative;
}

@keyframes sunrolling {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

.sunanimation {
  margin-top: -6.5em;
  animation: sunrolling 30s infinite;
}

.sunlight {
  position: absolute;
  top: -1em;
  left: 6.25em;
  width: 0.5em;
  height: 2em;
}

.sunlight b,
.sunlight s {
  position: absolute;
  top: 7em;
  left: -0.25em;
  width: 1em;
  height: 2em;
  background: yellow;
}

.sunlight s {
  top: auto;
  bottom: 7em;
}

@for $i from 2 through 10 {
  .sunlight:nth-child(10n+#{$i}) {
    transform: rotate(#{($i - 1) * 18}deg);
  }
}
